#!/bin/sh
# PixelOS Agent - RC script for OpenBSD
# Place dans /etc/rc.d/pixelos_agent et: chmod +x

daemon="/usr/local/bin/python3"
daemon_flags="-m agent.agent"
daemon_user="root"

daemon_timeout=30

. /etc/rc.d/rc.subr

rc_cmd $1
