API_BASE_URL=http://192.168.1.100:8080/api
MQTT_BROKER=192.168.1.100
MQTT_PORT=1883
INTERVALLE_MESURE_SEC=60
ZONES_EXTRA=[{"id":4,"nom":"Jardin Sud","culture":"Courgettes","sol":{"pin_moisture":0},"meteo":{"pin_dht":4},"eau":{"pin_flow":5},"securite":{"pin_pir":6},"actionneurs":{"pin_vanne":28,"pin_pompe":29}}]
